* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	height: 40px;
	background: #3F3567;
	border: 1px solid blue;
	display: flex;
	justify-content: center;
}
#head {
	width: 680px;
	display: flex;
	align-items: center;
}
#webName {
	flex-grow: 2;
	flex-shrink: 1;
	display: flex;
}
#webName > h2 > a{
	color: red;
}
#search {
	flex-grow: 3;
	flex-shrink: 1;
}
#message {
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
}
#personal {
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: row-reverse;
}
#menu {
	height: 40px;
	background: #E4E4E4;
	display: flex;
	justify-content: center;
}	
#menuBar {
	width: 680px;
	flex-shrink: 1;
	display: flex;
	align-items: center;
}
#home {
	height: 100%; 
	flex-grow: 1;
	flex-shrink: 1;
	background: white;
	display: flex;
	align-items: center;
}
#menuList {
	flex-grow: 70;
	flex-shrink: 1;
	display: flex;
	justify-content: space-around;
	list-style-type:none;
}
.menuList {
	font-size: 8px;
	flex-shrink: 1;
}
.menuList a {
	text-decoration:none;
	color: black;
}
#errorAdds {
	height: 40px;
	background: white;
	border: 1px solid blue;
	display: flex;
	align-items: center;
}
#main {
	display: flex;
	flex-direction: column;
	background: #EBEBEB;
	justify-content: center;
	align-items: center;
}
#mainContent {
	background: white;
	width: 720px;
}
#subMain1 {
	margin: 2px;
}
#truyenDeCu {
	margin: 2px;
	color: blue;
}
#contentDeCu {
	display: flex;
	
}
.deCu {
	background: grey;
	flex-grow: 1;
	height: 150px;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#subMain2 {
	margin: 2px;
	display: flex;
}
#leftMain2 {
	width: 70%;
	display: flex;
	flex-direction: column;
	padding: 2px 4px 2px 2px;
}
#rightMain2 {
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 2px 2px 2px 4px;
}
#updateTruyen {
	margin: 2px;
	color: blue;
}
.Update {
	background: green;
	height: 150px;
	width: calc(25%);
	float: left;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;

}
#orderPage {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page {
	width: 40px;
	height: 40px;
	border: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rightMain2 > div {
	border: 1px solid #DDDDDD;
	margin: 4px 0px;
}
.headMain2s {
	height: 50px;
	display: flex;
 	align-items: center;
}
.headMain2s * {
	flex-basis: 50%;
	display: flex;
	align-items: center;
}
.headMain2s div {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
#followingList {
	display: flex;
	flex-direction: column;
}
#followingList li {
	height: 50px;	
	display: flex;
	align-items: center;
	border-top: 1px solid #DDDDDD;
}
#readedHistory {
	display: flex;
	flex-direction: column;
}
#readedHistory li {
	height: 50px;	
	display: flex;
	align-items: center;
	border-top: 1px solid #DDDDDD;
}
#hotMonthWeekDay {
	height: 30px;	
	display: flex;
	background: #DDDDDD;
	justify-content: center;
	align-items: center;
	list-style-type:none;
}
#hotMonthWeekDay li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}
#hotList {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#hotList li {
	width: 80%;
	height: 60px;
	display: flex;
	align-items: center;
}
#hotList li:not(:last-child) {
	border-bottom: 5px solid #DDDDDD;
}
#newComment h4 {
	height: 20px;
	color: blue;
	display: flex;
	align-items: center;
	padding-left: 4px;
}
#comment li {
	height: 40px;	
	display: flex;
	align-items: center;
	border-top: 1px solid #DDDDDD;
	padding-left: 4px;
}
#footerMain {
	height: 80px;
	width: 720px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type:none;
}
#footerPage {
	background: #222222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#imageFooter {
	width: 40%;
	background: #4466A3;
}
#footer {
	width: 60%;
	width: 680px;
	display: flex;
}
#footer * {
	margin: 5px;
}
#categorys {
	display: flex;
	justify-content: space-between;
	list-style-type:none;
}
#categorysManga h3 {
	color: white;
}
#categorys li {
	color: white;
	list-style-type:none;
	font-size: 10px;
	border: 1px solid white;
	border-radius: 5px;
}
blockquote {
	color: white;
	width: 680px;
	display: flex;
	align-items: center;
	margin-left: 5px;
}
